.dayPremieresItem {
    border-radius: 15px;
    height: 150px;
    background-color: rgba(18,3,4,0.2);
    border: 2px solid transparent;
    margin: 2px;
    cursor: pointer;
}

.dayPremieresItem:hover {
    background-color: rgba(18,3,4,0.3);
    border: 1px solid rgba(18,3,4,0.4);
}

.dayPremieresItem__header {
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.dayPremieresItem__body {
    color: #D7D5D5;
}