.calendar__container {
    border: 1px solid black;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.calendar__singleDay {
    border: 1px solid black;
    height: 150px;
}

.singleDay__header {
    text-align: center;
    border-bottom: 1px solid black;
}

@media (min-width: 720px) {
    .calendar__container {
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }
}

@media (min-width: 1200px) {
    .calendar__container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}